*.swp
Makefile.in
aclocal.m4
autom4te.cache/
build/
buildx86/
buildx64/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing

EDIT-audio_playback.c
EDIT-xm.c
Makefile
auto/
config.h
config.log
config.status
fmt/.deps/
fmt/.dirstamp
fmt/669.o
fmt/aiff.o
fmt/ams.o
fmt/au.o
fmt/compression.o
fmt/f2r.o
fmt/far.o
fmt/generic.o
fmt/imf.o
fmt/it.o
fmt/iti.o
fmt/its.o
fmt/liq.o
fmt/mdl.o
fmt/med.o
fmt/mf.o
fmt/mid.o
fmt/mmcmp.o
fmt/mod.o
fmt/mt2.o
fmt/mtm.o
fmt/mus.o
fmt/ntk.o
fmt/okt.o
fmt/pat.o
fmt/raw.o
fmt/s3i.o
fmt/s3m.o
fmt/sfx.o
fmt/stm.o
fmt/ult.o
fmt/wav.o
fmt/xi.o
fmt/xm.o
player/.deps/
player/.dirstamp
player/csndfile.o
player/effects.o
player/equalizer.o
player/filters.o
player/fmopl2.o
player/fmopl3.o
player/fmpatches.o
player/mixer.o
player/mixutil.o
player/opl-util.o
player/snd_fm.o
player/snd_gm.o
player/sndmix.o
player/tables.o
schism/.deps/
schism/.dirstamp
schism/audio_loadsave.o
schism/audio_playback.o
schism/charset.o
schism/clippy.o
schism/config-parser.o
schism/config.o
schism/dialog.o
schism/disko.o
schism/dmoz.o
schism/draw-char.o
schism/draw-misc.o
schism/fakemem.o
schism/itf.o
schism/keyboard.o
schism/main.o
schism/menu.o
schism/midi-core.o
schism/midi-ip.o
schism/mplink.o
schism/page.o
schism/page_about.o
schism/page_blank.o
schism/page_config.o
schism/page_help.o
schism/page_info.o
schism/page_instruments.o
schism/page_loadinst.o
schism/page_loadmodule.o
schism/page_loadsample.o
schism/page_log.o
schism/page_message.o
schism/page_midi.o
schism/page_midiout.o
schism/page_orderpan.o
schism/page_palette.o
schism/page_patedit.o
schism/page_preferences.o
schism/page_samples.o
schism/page_vars.o
schism/page_waterfall.o
schism/palettes.o
schism/pattern-view.o
schism/sample-edit.o
schism/sample-view.o
schism/slurp.o
schism/status.o
schism/util.o
schism/version.o
schism/video.o
schism/volume-core.o
schism/widget-keyhandler.o
schism/widget.o
schism/xpmdata.o
schismtracker
stamp-h1
sys/alsa/.deps/
sys/alsa/.dirstamp
sys/alsa/init.o
sys/alsa/midi-alsa.o
sys/alsa/volume-alsa.o
sys/macosx/.deps/
sys/oss/.deps/
sys/oss/.dirstamp
sys/oss/midi-oss.o
sys/oss/volume-oss.o
sys/posix/.deps/
sys/posix/.dirstamp
sys/posix/slurp-mmap.o
sys/stdlib/.deps/
sys/wii/.deps/
sys/win32/.deps/
sys/x11/.deps/
sys/x11/.dirstamp
sys/x11/xkb.o
sys/x11/xscreensaver.o
